<?xml version="1.0" encoding="UTF-8"?>
<!-- /api/* isteklerini index.php'ye yönlendirir -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Karaliste API" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
